# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# Env / secrets
.env
config.txt
config.json
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# User uploads and vector database
UserUploads/
chroma_db/

# Document metadata
document_metadata.json
